<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924203588296-ds15qdb96auog5ve8piomb7tg6pbdukk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924203588296-ds15qdb96auog5ve8piomb7tg6pbdukk</string>
	<key>API_KEY</key>
	<string>AIzaSyCp-tmCqsnts-s4LZQBB1rztU5QB8Xh7tA</string>
	<key>GCM_SENDER_ID</key>
	<string>924203588296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobile.recyclingapp</string>
	<key>PROJECT_ID</key>
	<string>recisnap</string>
	<key>STORAGE_BUCKET</key>
	<string>recisnap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924203588296:ios:5190fd5fd03d228e4d23fd</string>
</dict>
</plist>